<%= form_with model: @scribble do |form|  %>
    <div class="flex flex-col">
        <div>
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>
        <div>
            <%= form.label :body %>
            <%= form.rich_textarea :body %>
        </div>

        <%= form.submit "Save!" %>
    </div>

<% end %>
